@model IEnumerable<Flashcard_web_app.Models.Notecard>

@{
    ViewBag.Title = "Quiz";
}

<h2>Quiz Me!</h2>

@foreach (var item in Model.Where(m => m.DeckID == (int)Session["DeckID"]))
{
<table>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
            @Html.DisplayFor(modelItem => item.Answer)
        </td>
    </tr>
</table>

}
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="Flip" class="btn btn-default" />
        <input type="submit" value="Next" class="btn btn-default" />
    </div>
</div>
@Html.ActionLink("Back to your decks", "Dashboard", "Account")