
@{
    ViewBag.Title = "Index - Home";
}

<body style="background-color:#124d8c;">


    <center>
        <p style="font-family:'AR JULIAN';font-size:200px;font-style:normal;color:white" ;>
            Quizzy
        </p>
    </center>


</body>




